.editor {
  height: 100%;
  max-height: calc((100vh - var(--md-nav-height)) / 2);
  user-select: none;
  position: relative;
  background-color: var(--md-bg-editor);
  color: inherit;
}

@media screen and (min-width: 640px ){
  .editor {
    max-height: min-content;
    max-width: 50vw;
  }
}
