.headerEditor {
  height: 48px;
  width: 100%;
  position: relative;
  background-color: var(--md-bg-preview);
  border-bottom: 1px solid var(--md-divider-light-1);
}

.actionEditor button {
  line-height: 10px;
  height: 100%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity .1s ease-out;
}

.actionEditor button div {
  position: absolute;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  background-image: -webkit-linear-gradient(120deg, var(--md-cursor), var(--md-coral) 120%);
  filter: blur(5px);
  opacity: 0;
  transition: opacity .1s ease-out;
}

.actionEditor button:first-child:hover > div {
  opacity: .5;
}

.actionEditor, .settingEditor {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navEditor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.settingEditor button, .actionEditor button {
  background-color: transparent;
  border: none;
  padding: .8rem;
  position: relative;
  width: 48px;
  color: var(--md-text-2);
  transition: color .1s ease-out;
}

.settingEditor button svg, .actionEditor button svg {
  width: 100%;
  height: 100%;
}

.settingEditor button:hover, .actionEditor button:hover {
  cursor: pointer;
  color: var(--md-text-1);
}

.tooltip {
  position: relative;
}

.tooltip::before, .tooltip::after {
  position: absolute;
  background-color: var(--md-bg-3);
  transition: opacity .0s ease-out;
  z-index: 1;
  opacity: 0;
  display: none;
  border-collapse: collapse;
  display: none;
}

.tooltip::before {
  content: attr(data-tooltip);
  top: 35%;
  left: 110%;
  transition: all .0s ease-in-out;
  padding: .3rem .5rem;
  font-size: .8rem;
  color: var(--md-text-2);
  line-height: 15px;
  z-index: 2;
}

.tooltip::after {
  content: "";
  top: 50%;
  left: 104%;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  z-index: 1;
}

.menuClose {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.menu {
  position: absolute;
  top: 47px;
  left: auto;
  right: 0;
  bottom: auto;
  background-color: var(--md-bg-2);
  height: max-content;
  width: max-content;
  z-index: 11;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.247);
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: 1px solid var(--md-divider-light-1);
  border-radius: 0.3rem;
  color:  var(--md-text-1);
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.menu button {
  background-color: transparent;
  border: none;
  padding: 0.3rem 2rem;
  width: 100%;
  text-align: left;
  font-size: inherit;
  color: inherit;
}

.menu details  {
  display: flex;
  flex-direction: column;
  width: max-content;
  width: 100%;
}

.menu hr {
  margin: 0.5rem 0;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--md-divider-light-1);
}

.menu details summary {
  cursor: pointer;
  padding: 0.2rem 1rem;
  user-select: none;
  width: 100%;
}

.menu details summary:hover,
.menu details button:hover,
.menu button:hover {
  background-color: var(--md-bg-3);
  cursor: pointer;
}

.menu details summary::before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: var(--md-text-2);
}

.menu details button {
  padding: 0.3rem 2rem 0.3rem 3.5rem;
  width: 100%;
  color: inherit;
  font-size: inherit;
  text-align: left;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 640px ) {
  .headerEditor {
    height: 100%;
    width:  48px;
    position: relative;
    border-right: 1px solid var(--md-divider-light-1);
    border-bottom: 0;
  }

  .navEditor {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .actionEditor, .settingEditor {
    flex-direction: column;
    height: max-content;
    width: 100%;
  }

  .tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    display: flex;
    transition-delay: 0.3s;
  }

  .menu {
    bottom: 21px;
    top: auto;
    left: 47px;
  }
}
