.burgerBtn[aria-expanded="true"]:hover {
  transform: scale(0.998);
  transition: all 0.2s ease-out;
  opacity: 0.8;
  cursor: pointer;
}

.burgerBtn {
  position: relative;
  height: 100%;
  width: 48px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

/* handle burger nav */
.burger {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}

.burger span {
  position: absolute;
  height: 2px;
  width: 18px;
  transition: all .2s ease-out;
}

.burger :first-child {
  top: var(--md-burger-top-1);
  right: 0;
  transform: translateX(var(--md-burger-right-1)) rotate(var(--md-burger-rotate-1));
  opacity: 0.8;
}

.burger :nth-child(2) {
  top: var(--md-burger-top-2);
  right: 0;
  transform: translateX(var(--md-burger-right-2)) rotate(var(--md-burger-rotate-2));
}

.burger :nth-child(3) {
  bottom: var(--md-burger-top-1);
  right: 0;
  transform: translateX(var(--md-burger-right-3)) rotate(var(--md-burger-rotate-1));
  opacity: 0.9;
}

.burgerBtn:hover {
  cursor: pointer;
  --md-burger-right-1: 30%;
  --md-burger-right-2: 0%;
  --md-burger-right-3: 50%;
}

.burgerBtn[aria-expanded="true"] {
  --md-burger-right-1: 0%;
  --md-burger-right-2: 0%;
  --md-burger-right-3: 0%;
  --md-burger-top-1: 45%;
  --md-burger-rotate-1: 45deg;
  --md-burger-rotate-2: -45deg;
  animation: burger-open .2s ease-out;
}

.burgerBtn[aria-expanded="false"] {
  animation: burger-close .2s ease-out;
}

@keyframes burger-open {
  0% {
    transform: rotate(0%)
  }
  100% {
    transform: rotate(180deg)
  }
}

@keyframes burger-close {
  0% {
    transform: rotate(90deg)
  }
  100% {
    transform: rotate(0%)
  }
}

.appearance {
  color: var(--md-text-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appearance span {
  margin: 0;
  padding-bottom: 3px;
  text-align: center;
}

.toggleTheme {
  border: 2px solid var(--md-divider-light-1);
  border-radius: 1rem;
  padding: 0;
  width: 40px;
  height: 22px;
  outline: none;
  background-color: inherit;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: border-color 0.2s ease-out;
}

.toggleTheme:hover {
  border-color: var(--md-divider-light-2);
}

.toggleTheme span {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  inset: 0;
  transition: transform 0.5s ease-out;
  box-shadow: 1px 1px 2px 0px rgba(26, 26, 26, 0.103);
}

.toggleTheme[aria-details='dark'] span {
  background-color: var(--md-cursor);
  transform: translateX(100%);
  padding-left: 1px;
}

.toggleTheme.toggleTheme[aria-details='dark'], .toggleTheme {
  background-color: var(--md-bg-3);
}

.toggleTheme[aria-details='light'] span {
  background-color: var(--md-white);
  transform: translateX(0%);
}

.toggleTheme.toggleTheme[aria-details='light'], .toggleTheme {
  background-color: inherit;
}

.toggleTheme span svg {
  height: 12px;
  width: 12px;
}

@media screen and (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}
