.flexHero {
  display: flex;
  flex-direction: column;
}

.heroPreview {
  display: none;
}

.heroMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  width: 100%;
  color: var(--md-text-1);
  padding: 1rem 0 2rem;
}

.title h2 {
  font-size: 2.2rem;
  line-height: 1.2;
}

.textYellow {
  color: #fecc1b;
}

.textBlue {
  color: var(--md-cursor);
}

.tagline {
  width: 100%;
}

.tagline p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--md-text-2);
  line-height: 1.5;
  margin: 0;
}


.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  position: relative;
}

.actionLink {
  background-color: var(--md-bg-2);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--md-text-1);
  font-weight: 700;
  letter-spacing: -0.2px;
  z-index: 2;
}

.actionLink:first-child {
  background-color: var(--md-cursor);
  color: var(--md-bg-1);
}

.actionLink:first-child:hover {
  background-color: var(--md-malibu);
  transition: background-color 0.2s ease-out;
}

.actionLink:hover {
  background-color: var(--md-bg-3);
  transition: background-color 0.2s, box-shadow 0.2s ease-out;
  box-shadow: 0rem 0.3rem 1rem #013a572c;
}


@media screen and (min-width: 640px) {
  .title, .tagline {
    max-width: 570px;
    margin: 0 auto;
    padding: 2rem 0rem;
    text-align: center;
  }

  .tagline p {
    font-size: 1.3rem;
  }

  .title h2 {
    font-size: 3rem;
  }

  .action {
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .flexHero {
    margin-bottom: 10rem;
  }

  .title h2 {
    font-size: 3.5rem;
    text-align: left;
  }

  .tagline {
    padding: 0;
  }

  .tagline p {
    font-size: 1.6rem;
    text-align: left;
  }

  .flexHero {
    flex-direction: row;
  }

  .heroMain {
    width: 100%;
    padding-left: 2rem;
  }

  .action {
    max-width: 570px;
    justify-content: space-evenly;
  }

  .heroPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    user-select: none;
  }

  .heroPreview figure {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.336);
  }

  .heroPreview img {
    -webkit-user-drag: none;
  }

  .linux {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
  }

  .linux figure {
    width: 500px;
    height: 400px;
    position: relative;
    margin: 0;
  }

  .window {
    position: absolute;
    top: 25%;
    right: -3rem;
    left: auto;
    /* transform: scale(0.6) translateY(-1rem); */
    width: max-content;
    border: 1px solid var(--md-divider-light-1);
    border-radius: 0.3rem;
    overflow: hidden;
  }

  .window figure {
    width: 498px;
    height: 398px;
    /* width: 398px; */
    /* height: 298px; */
    position: relative;
    margin: 0;
  }

  .heroShadow {
    position: absolute;
    inset: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-image: -webkit-linear-gradient(120rad, #009fe983 25%, #6bd96883);
    filter: blur(100px);
    z-index: -1;
  }
}
