.gridColumn, .gridRow {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}

.gridColumn {
  grid-template-columns: 1fr 5px 1fr;
}

.gutterColumn {
  grid-row: 1/-1;
  cursor: col-resize;
  grid-column: 2;
  background-image: url('/gutter-col.png');
  background-position: 50% center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-out;
}

.gridRow {
  grid-template-rows: 1fr 5px 1fr;
}

.gutterRow {
  grid-column: 1/-1;
  cursor: row-resize;
  grid-row: 2;
  background-image: url('/gutter-row.png');
  background-position: 50% center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-out;
}

.gutterColumn, .gutterRow {
  background-color: var(--md-divider-light-1);
}


.gutterColumn:hover, .gutterRow:hover {
  background-color: var(--md-malibu);
  transition: background-color 0.2s ease-out;
}

.gutterColumn:active, .gutterRow:active {
  background-color: var(--md-cursor);
}

.editorContain {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.previewContain {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 640px ){
  .gridColumn, .gridRow {
    height: 100%;
  }
}
