.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--md-bg-preview);
}

.appLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.gridExplorer {
  grid-template-columns: 0px 5px 1fr;
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}

.gutterColExplorer {
  grid-row: 1/-1;
  cursor: col-resize;
  grid-column: 2;
  background-image: url('/gutter-col.png');
  background-position: 50% center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-out;
}

.gutterColExplorer {
  background-color: var(--md-divider-light-1);
}

.gutterColExplorer:hover {
  background-color: var(--md-malibu);
  transition: background-color 0.2s ease-out;
}

.gutterColExplorer:active {
  background-color: var(--md-cursor);
}

@media screen and (min-width: 640px ){
  .appLayout  {
    flex-direction: row;
  }
  .gridExplorer {
    grid-template-columns: 234px 5px 1fr;
    height: 100%;
  }
}
