:root {
  --md-white: #FFFFFF;
  --md-black: #1a1a1a;
  --md-black-pure: #000000;
  --md-indigo: #213547;
  --md-action: #6bd968;
  /* Theme One Dark */
  --md-chalky: #e5c07b;
  --md-coral: #f44250;
  --md-cyan: #3defe9;
  --md-invalid: #ffffff;
  --md-ivory: #abb2bf;
  --md-stone: #5353531f;
  --md-malibu: #2c6fc2;
  --md-sage: #6bd968;
  --md-whiskey: #fecc1b;
  --md-violet: #d83bd2;
  --md-darkBackground: #2c313a73;
  --md-background: #282c34;
  --md-highlightBackground: #343a44;
  --md-tooltipBackground: #3e434d;
  --md-selection: #3E4451;
  --md-cursor: #3992ff;
}
/* :root light  */
:root {
  --md-bg-1: var(--md-white);
  --md-bg-2: var(--md-invalid);
  --md-bg-3: hsla(0, 0%, 94%);
  --md-bg-4: hsl(0, 0%, 99%);
  --md-btn: var(--md-ivory);
  --md-btn-hover: #3c3c3c1f;
  --md-input: #3c3c3c1f;
  --md-bg-blur: #f6f8fa73;
  --md-bg-editor: var(--md-white);
  --md-bg-preview: var(--md-white);
  --md-shadow: #000000a3;
  --md-divider-light-1: #3c3c3c1f;
  --md-divider-light-2: #42424275;
  --md-text-1: #213547;
  --md-text-2: #3C3C3CB3;
  --md-text-3: #00a0e9;
  --md-theme: light;
  --md-text-selection: var(--md-divider-light-1);
}
/* :root dark */
[data-theme='dark'] {
  --md-bg-1: #1e1e1e;
  --md-bg-2: #2c2c2c;
  --md-bg-3: #3a3a3a;
  --md-bg-4: #1e1e1e;
  --md-input: #1e1e1e;
  --md-btn: var(--md-tooltipBackground);
  --md-btn-hover: #303030;
  --md-bg-editor: var(--md-background);
  --md-bg-preview: #2c2c2c;
  --md-shadow: #000000;
  --md-bg-blur: #111111a3;
  --md-divider-light-1: #5454547a;
  --md-divider-light-2: #7777777a;
  --md-text-1: #FFFFFFDE;
  --md-text-2: #EBEBEB99;
  --md-text-3: #00a0e9;
  --md-text-selection: var(--md-selection);
  --md-theme: dark;
}

.atom-one-dark:root {
  --md-bg-3: #39424e;
  --md-input: #282c34;
  --md-bg-preview: #2e353f;
  --md-input: #282c34;
  --md-btn-hover: #20232b;
}

.atom-one-light:root {
  --md-bg-3: #e5ebf1;
  --md-input: #adadad;
  --md-bg-preview: #ffffff;
  --md-text-1: #213547;
  --md-text-2: #3C3C3CB3;
  --md-text-selection: #b8b8b880;
  --md-btn-hover: #585858;
  --md-input: var(--md-divider-light-1);
}

.atom-one-light {
  color-scheme: light;
}

.vs-dark:root {
  --md-bg-3: #3a3a3a;
  --md-input: #1e1e1e;
  --md-bg-preview: #2c2c2c;
  --md-text-1: #FFFFFFDE;
  --md-text-2: #EBEBEB99;
  --md-text-selection: #b8b8b880;
}

.vs:root {
  --md-bg-3: #e5ebf1;
  --md-input: #adadad;
  --md-bg-preview: #ffffff;
  --md-text-1: #213547;
  --md-text-2: #3C3C3CB3;
  --md-text-selection: #0099ff57;
}

/* Global variables */
:root {
  --md-burger-right-1: 0%;
  --md-burger-right-2: 50%;
  --md-burger-right-3: 20%;
  --md-burger-rotate-1: 0deg;
  --md-burger-rotate-2: 0deg;
  --md-burger-top-1: 0;
  --md-burger-top-2: 45%;
  --md-nav-height: 48px;
}

@font-face {
  src: url('/seti.woff') format('woff');
  font-family: 'seti';
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*, :before,
:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: -webkit-linear-gradient(120deg, var(--md-bg-2), var(--md-bg-1) 120%) fixed no-repeat;
  color: var(--md-text-2);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  width: 100%;
  direction: ltr;
  overflow-x: hidden;
  height: 100%;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: -webkit-fill-available;
}

h1,h2,h3,h4,a {
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: 24px;
  color: inherit;
}

::selection {
  background: var(--md-text-selection);
  color: inherit;
}
/* Custom scroll-bar */
::-webkit-scrollbar {
  width: 14px;
  border-left: 1px solid var(--md-divider-light-1);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--md-divider-light-1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--md-divider-light-2);
}

pre code::-webkit-scrollbar {
  border-left: 0;
  width: 0;
  height: 10px;
}

@media screen and (min-width: 768px) {
  body {
    overflow-y: auto;
    padding-right: 0px;
  }
}

@media screen and (min-width: 960px) {
  body {
    --md-nav-height: 62px;
  }
}
