:root {
  --md-white: #FFFFFF;
  --md-white: #FFFFFF;
  --md-black: #1a1a1a;
  --md-black-pure: #000000;
  --md-indigo: #213547;
  --md-action: #6bd968;
}
/* automatic dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --md-bg-1: #242424;
    --md-bg-2: #2f2f2f;
    --md-bg-3: #3a3a3a;
    --md-bg-4: #1a1a1a;
    --md-bg-blur: #242424a3;
    --md-divider-light-1: #5454547a;
    --md-divider-light-2: #aaaaaabd;
    --md-text-1: #FFFFFFDE;
    --md-text-2: #EBEBEB99;
    --md-text-3: #3defe9;
    --md-theme: dark;
  }
}

/* :root.light  */
:root {
  --md-bg-1: #ffffff;
  --md-bg-2: #f9f9f9;
  --md-bg-3: #f2f2f2;
  --md-bg-4: #e5e5e5;
  --md-bg-blur: #ffffffa3;
  --md-shadow: #000000a3;
  --md-divider-light-1: #3c3c3c1f;
  --md-divider-light-2: #42424275;
  --md-text-1: #213547;
  --md-text-2: #3C3C3CB3;
  --md-text-3: #3defe9;
  --md-theme: light;
}
[data-theme='dark'] {
  --md-bg-1: #242424;
  --md-bg-2: #2f2f2f;
  --md-bg-3: #3a3a3a;
  --md-bg-4: #2B2B2B;
  --md-bg-blur: #242424a3;
  --md-shadow: #000000;
  --md-divider-light-1: #5454547a;
  --md-divider-light-2: #aaaaaabd;
  --md-text-1: #FFFFFFDE;
  --md-text-2: #EBEBEB99;
  --md-text-3: #3defe9;
  --md-theme: dark;
}
/* manual dark mode */
:root.dark {
  --md-bg-1: #242424;
  --md-bg-2: #2f2f2f;
  --md-bg-3: #3a3a3a;
  --md-bg-4: #1a1a1a;
  --md-divider-light-1: #5454547a;
  --md-divider-light-2: #aaaaaabd;
  --md-text-1: #FFFFFFDE;
  --md-text-2: #EBEBEB99;
  --md-text-3: #3defe9;
  --md-theme: dark;
}
/* custom position */
:root {
  --md-burger-right-1: 0%;
  --md-burger-right-2: 50%;
  --md-burger-right-3: 20%;
  --md-burger-rotate-1: 0deg;
  --md-burger-rotate-2: 0deg;
  --md-burger-top-1: 0;
  --md-burger-top-2: 45%;
  --md-nav-height: 57px;
}
*, :before,
:after {
  box-sizing: border-box;
}

html.dark {
  color-scheme: dark;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--md-bg-1);
  color: var(--md-text-2);
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  width: 100%;
  direction: ltr;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

#__next {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,h2,h3,h4,a {
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: 24px;
  color: inherit;
}

@media screen and (min-width: 768px) {
  body {
    overflow-y: auto;
    padding-right: 0px;
  }
}
