.heroSection {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  position: relative;
  max-width: 1365px;
}

.title {
  width: 100%;
  color: var(--md-text-1);
  padding: 1rem 0 2rem;
}

.title h2 {
  font-size: 2rem;
  line-height: 1.2;
}

.textYellow {
  color: #fecc1b;
}

.textBlue {
  color: #00a0e9;
}
.tagline {
  width: 100%;
}

.tagline p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--md-text-2);
  line-height: 1.5;
  margin: 0;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.actionLink {
  background-color: var(--md-bg-2);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--md-text-1);
  font-weight: 700;
  letter-spacing: -0.2px;
  z-index: 1;
}

.actionLink:first-child {
  background-color: #00a0e9;
  color: var(--md-bg-1);
}

.actionLink:first-child:hover {
  background-color: #0076ad;
  transition: background-color 0.2s ease-out;
}

.actionLink:hover {
  background-color: var(--md-bg-3);
  transition: background-color 0.2s, box-shadow 0.2s ease-out;
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.demo {
  padding: 1rem 0;
  height: max-content;
  position: relative;
  width: 100%;
}

.shadow {
  position: absolute;
  inset: 0;
  max-width: 900px;
  width: 100%;
  height: 100%;
  transform: scaleY(1) scaleX(1.02);
  margin: 0 auto;
  border-radius: 0rem;
  background-image: -webkit-linear-gradient(-45deg, #C678DD 54%, #61AFEF 40%);
  filter: blur(100px);
  border-radius: 1rem;
  opacity: 0.7;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  max-width: 1365px;
}

.platforms {
  width: 100%;
  padding: 0 1rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.platforms h2 {
  font-size: 1.2rem

}

.platforms p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  border-radius: 1rem;
}

.table td {
  width: 50%;
  border: 1px solid var(--md-divider-light-2);
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
}

.table tr :first-child {
  color: var(--md-text-1);
}

@media screen and (min-width:400px) {
  .imgSticky {
    /* height: 100%; */
  }
}

@media screen and (min-width: 640px) {
  .heroSection {
    padding: 3rem 3rem;
  }

  .title, .tagline {
    max-width: 570px;
    margin: 0 auto;
  }

  .title h2 {
    font-size: 3rem;
    text-align: center;
  }

  .tagline p {
    font-size: 1.4rem;
  }

  .action {
    justify-content: center;
  }
}
