.heroSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  position: relative;
  max-width: 1365px;
}

.title {
  width: 100%;
  color: var(--md-text-1);
  padding: 1rem 0 2rem;
}

.title h2 {
  font-size: 2.2rem;
  line-height: 1.2;
}

.textYellow {
  color: #fecc1b;
}

.textBlue {
  color: #00a0e9;
}
.tagline {
  width: 100%;
}

.tagline p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--md-text-2);
  line-height: 1.5;
  margin: 0;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  position: relative;
}

.actionLink {
  background-color: var(--md-bg-2);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--md-text-1);
  font-weight: 700;
  letter-spacing: -0.2px;
  z-index: 2;
}

.actionLink:first-child {
  background-color: #00a0e9;
  color: var(--md-bg-1);
}

.actionLink:first-child:hover {
  background-color: #0076ad;
  transition: background-color 0.2s ease-out;
}

.actionLink:hover {
  background-color: var(--md-bg-3);
  transition: background-color 0.2s, box-shadow 0.2s ease-out;
  box-shadow: 0rem 0.3rem 1rem #013a572c;
}

.textGoals {
  display: flex;
  flex-direction: column;
}

.regularText {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.regularText span {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 2rem 0;
  white-space: nowrap;
}

.regularText :first-child {
  color: #6bd968;
  text-align: center;
}

.regularText :nth-child(2) {
  color: #f44250;
  padding-left: 10vh;
  text-align: left;
}
.regularText :nth-child(3) {
  color: #3992ff;
  text-align: right;
  padding-right: 10vh;
}
.regularText :nth-child(4) {
  color: #fecc1b;
  text-align: left;
  padding-left: 10vh;
}
.regularText :nth-child(5) {
  color: #3defe9;
  text-align: right;
  padding-right: 10vh;
}
.regularText :nth-child(6) {
  color: #d83bd2;
  text-align: left;
  padding-left: 10vh;
}

.demo {
  padding: 1rem 0;
  height: max-content;
  width: 100%;
  position: sticky;
  bottom: -8px;
  z-index: 1;
}

.shadow {
  position: absolute;
  inset: 0;
  max-width: 900px;
  width: 100%;
  height: 100%;
  transform: scaleY(1) scaleX(1.02);
  margin: 0 auto;
  border-radius: 0rem;
  background-image: -webkit-linear-gradient(-45deg, #C678DD 54%, #61AFEF 40%);
  filter: blur(100px);
  border-radius: 1rem;
  opacity: 0.7;
  z-index: -1;
}

.platforms {
  width: 100%;
  padding: 2.5rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.platforms > h2 {
  font-size: 1.9rem;
  color: var(--md-text-1);
  max-width: 500px;
}

.platforms > p {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
  max-width: 500px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  max-width: 570px;
}

.table td {
  width: 50%;
  border: 1px solid var(--md-divider-light-2);
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
}

.table tr :first-child {
  color: var(--md-text-1);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem 1rem;
  max-width: 1365px;
  gap: 1.5rem;
  align-items: center;
}

.content h2 {
  font-size: 1.9rem;
  color: var(--md-text-1);
  max-width: 570px;
}

.content p, .quote {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 570px;
}

.content p {
  margin: 0;
  text-align: center;
}

.quote {
  font-style: italic;
  font-weight: 300;
  border-left: 4px solid var(--md-divider-light-2);
  padding: 0.2rem 0 0.2rem 1rem;
  opacity: 0.8;
  text-align: left;
}

@media screen and (min-width: 640px) {
  .heroSection {
    padding: 3rem 3rem;
  }

  .title, .tagline {
    max-width: 570px;
    margin: 0 auto;
    padding: 2rem 0rem;
  }

  .title h2 {
    font-size: 3rem;
    text-align: center;
  }

  .tagline p {
    font-size: 1.4rem;
  }

  .action {
    justify-content: center;
  }

  .demo {
    bottom: -1px;
  }

  .regularText span {
    font-size: 3rem;
  }
}

@media screen and (min-width: 960px) {
  .heroSection {
    padding: 7rem 5rem;
  }

  .title h2 {
    font-size: 3.5rem;
  }

  .tagline p {
    font-size: 1.8rem;
  }

  .textGoals {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0rem;
    margin-top: 3rem;
  }

  .regularText {
    width: 50%;
  }

  .regularText span {
    font-size: 3.5rem;
    padding: 2.5rem 0;
  }

  .demo {
    bottom: calc(100vh - 75%);
    transform: translateX(0%);
    width: 50%;
  }
}
