.headerEditor {
  height: 48px;
  width: 100%;
  position: relative;
  background-color: var(--md-bg-preview);
}

.actionEditor button {
  line-height: 10px;
  height: 100%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity .1s ease-out;
}

.actionEditor button div {
  position: absolute;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  background-image: -webkit-linear-gradient(120deg, var(--md-cursor), var(--md-sage));
  filter: blur(5px);
  opacity: 0;
  transition: opacity .1s ease-out;
}

.actionEditor button:first-child:hover > div {
  opacity: .5;
}

.actionEditor, .settingEditor {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navEditor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.settingEditor button, .actionEditor button {
  background-color: transparent;
  border: none;
  padding: .8rem;
  position: relative;
  width: 48px;
  color: var(--md-text-2);
  transition: color .1s ease-out;
}

.settingEditor button svg, .actionEditor button svg {
  width: 100%;
  height: 100%;
}

.settingEditor button:hover, .actionEditor button:hover {
  cursor: pointer;
  color: var(--md-text-1);
}

.tooltip {
  position: relative;
}

.tooltip::before, .tooltip::after {
  position: absolute;
  background-color: var(--md-bg-3);
  transition: opacity .0s ease-out;
  z-index: 1;
  opacity: 0;
  border-collapse: collapse;
  display: none;
}

.tooltip::before {
  content: attr(data-tooltip);
  top: 35%;
  left: 110%;
  transition: all .0s ease-in-out;
  padding: .3rem .5rem;
  font-size: .8rem;
  color: var(--md-text-2);
  line-height: 15px;
  z-index: 2;
}

.tooltip::after {
  content: "";
  top: 50%;
  left: 104%;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  z-index: 1;
}

@media screen and (min-width: 640px ) {
  .headerEditor {
    height: 100%;
    width:  48px;
    position: relative;
    border-right: 1px solid var(--md-divider-light-1);
  }

  .navEditor {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .actionEditor, .settingEditor {
    flex-direction: column;
    height: max-content;
    width: 100%;
  }

  .tooltip::before, .tooltip::after {
    display: block;
  }

  .tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
  }
}
